@charset "utf-8";
/* CSS Document */

body{
	background-color:#00F;
	font-family:"Comic Sans MS", cursive;
	font-size:36px;
}

h1{
	text-align:center;
	color:#0F0;
	font-variant:small-caps; 
	text-decoration:overline;
}

p{
	font-weight:bold;
}

a{
	color:#FFF;
	text-decoration:line-through;
}

a:link {
	text-decoration:line-through;
	color:#FFF;
}
a:visited {
	text-decoration:line-through;
	color:#000;
}
a:active {
	text-decoration:line-through;
	color:#000;
}
a:hover {
	text-decoration:none;
	color:#F0F;
	font-weight:bold;
}
